# Python cache
**/__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# JetBrains IDE
.idea/

# Virtual environment
.venv/
venv/

# Tests
tests/
test/

# Models and large resources
src/toxicity_detector/resources/rubert_tiny_onnx/
